.flex {
    display: flex;
}
.grid {
    display: grid;
}
.space-evenly {
    justify-content: space-evenly;
}
.space_around {
    justify-content: space-around;
}
.space_between {
    justify-content: space-between;
}
.items_center {
    align-items: center;
}
body {
    background-color: #221e29;
    font-family: "Lato", sans-serif;
    font-size: 17px;
    width: 100%;
    height: 100%;
}

.opciones {
    z-index: 1;
    list-style: none;
    justify-self: end;
    margin: 0;
}
.opciones li {
    margin-right: 50px;
}
.opciones li a {
    position: relative;
    padding-bottom: 5px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.opciones li a:hover {
    color: rgb(255, 255, 255);
}

.opciones li a:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #c34a36;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.opciones li a:hover:before {
    transform: scaleX(1);
}

.logo {
    justify-self: center;
}
.logo_img {
    width: 50px;
}
.header-container {
    transition-duration: 0.3s;
}
.container {
    width: 100vw;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    color: white;
}
.imagen {
    width: 100%;
}
.img-banner {
    object-fit: cover;
    height: 45rem;
}
.banner_img {
    min-height: 68ch;
    max-height: 68ch;
    overflow: hidden;
}

.informacion {
    background: #1211117a;
    position: absolute;
    top: 0;
    color: white;
    z-index: 1;
    min-height: 68ch;
    max-height: 68ch;
    padding-left: 10vw;
    padding-right: 10vw;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    font-family: "Lato", sans-serif;
}
.text-descripcion {
    line-height: 2;
    color: #a1a6a8;
    text-align: justify;
}
.links {
    text-decoration: none;
    justify-self: stretch;
}
.titulo {
    width: 56vw;
}

.botones {
    width: 80vw;
    padding: 1em;
    grid-template-columns: 1fr 1fr;
}
.boton-verpeli {
    background-color: #2a2730;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}
.boton-masinfo {
    background-color: #2a2730;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 30px;
}
.boton-verpeli:hover {
    background-color: #c34a36;
    color: white;
    transition-duration: 0.3s;
}
.boton-masinfo:hover {
    background-color: #c34a36;
    color: white;
    transition-duration: 0.3s;
}
.boton-cat {
    padding-left: 3vw;
    padding-right: 3vw;
}
.busqueda {
    justify-self: end;
    align-items: center;
}
.muestra2 {
    color: white;
    margin-top: 2em;
    grid-template-columns: 1fr 1fr;
}
.cuerpo {
    margin-left: 3em;
    margin-right: 3em;
}
.input-busqueda {
    height: 2em;
    width: 30vw;
    background-color: #221e29;
    color: white;
    border-color: #a1a6a8;
}
.linea {
    background-image: linear-gradient(
        to right,
        #db8a47,
        #bc6055,
        #894558,
        #503249,
        #221e29
    );
    width: 70vw;
    height: 3px;
    margin-top: 1em;
    margin-bottom: 2em;
}
.peliculas-seccion {
    margin-top: 2em;
    margin-bottom: 2em;
    grid-template-columns: 15rem 15rem 15rem 15rem 15rem;
    justify-content: center;
}
.peli-imagen {
    width: 13rem;
}
.peli-titulo {
    margin-top: 1em;
    color: white;
    padding-right: 1em;
}
.info-extra {
    font-size: 0.9em;
    color: #a1a6a8;
}
.caratula-peli {
    margin-top: 2em;
}
.estreno {
    margin: 0;
    width: 10vw;
}
.footer-contenido {
    grid-template-columns: 1fr 1fr 1fr;
    height: 30vh;
    padding-top: 5vh;
}
.footer {
    background-color: #1f1f1f;
    color: white;
}
.abajo {
    align-self: end;
    justify-self: center;
}
.footer-redes {
    justify-self: end;
}
.redes-iconos {
    margin-right: 2em;
    font-size: 1.5em;
    color: white;
}
.contacto {
    text-align: center;
}
.cambio {
    background-color: #221e29;
    box-shadow: 0 16px 22px rgba(0, 0, 0, 0.8);
}
.categoria {
    font-size: 1vw;
}
.info-detalle {
    grid-template-columns: 0.5fr 2fr 0.9fr;
}
.info-hijo {
    justify-self: center;
}
.contenedor-overview {
    padding-left: 2rem;
    padding-right: 2rem;
    align-self: center;
    text-justify: justify;
}
.overview {
    color: #a1a6a8;
    font-size: 1.2em;
}
.contenedor-detalle {
    align-self: center;
}
.detalle {
    color: #a1a6a8;
    font-size: 1.2em;
}
.detalle-titulo {
    align-items: flex-end;
}
.detalle-titulo p {
    color: white;
    margin-bottom: 3px;
}
.detalle-titulo h5 {
    margin-bottom: 3px;
}
hr {
    border: 1px solid #a1a6a8;
    margin-top: 3px;
}
.info-detalle h1 {
    color: white;
    font-size: 1.5em;
}
.elenco{

height:21em;

}
.elenco-imagen {
    width: 12em;
}
