@media (max-width: 500px) {
    .opciones {
        display: none;
    }
    .tarjetas {
        height: 50vh;
    }
    .banner_img {
        width: 100%;
        height: 50vh;
    }
    .imagen {
        width: 100%;
        height: 100%;
    }
    .img-banner {
        height: 100%;
        object-fit: cover;
    }
    .informacion{
        height: 50vh;
        width: 100%;
        padding-left: 5vw;
        padding-right: 0;
    }
    .descripcion{
        width: 90vw;
        height: 30vh;
        overflow: hidden;
    }
}
