@media (max-width: 500px) {
    .logo_img{
        width: 40px;
    }
    .opciones {
        display: none;
    }
    .tarjetas {
        height: 60vh;
    }
    .banner_img {
        width: 100%;
        height: 60vh;
    }
    .imagen {
        width: 100%;
        height: 100%;
    }
    .img-banner {
        height: 100%;
        object-fit: cover;
    }
    .botones {
        min-width: 94vw;
        max-width: 94vw;
        padding: 2em 0 0 0;
    }
    .cuerpo {
        margin-left: 1em;
        margin-right: 1em;
    }
    .linea {
        width: 90vw;
    }
    .informacion {
        height: 60vh;
        width: 100vw;
        padding-left: 5vw;
        padding-right: 0;
        padding-top: 2vw;
    }
    .descripcion {
        width: 90vw;
        height: 31vh;
        overflow: hidden;
    }
    .muestra2 {
        display: block;
    }
    .input-busqueda {
        width: 100%;
        height: 9vw;
    }
    .peliculas-seccion {
        grid-template-columns: 1fr 1fr;
        margin-top: 0;
    }
    .peli-imagen {
        width: 50vw;
        padding-left: 3vw;
        padding-right: 3vw;
    }
    .peli-titulo {
        padding-left: 3vw;
        padding-right: 3vw;
    }
    .peli-titulo h5 {
        font-size: 4vw;
    }

    .footer-contenido {
        grid-template-columns: auto;
        height: 40vh;
    }
    .footer-redes {
        display: flex;
        align-items: center;
        justify-self: center;
    }
    .redes-iconos {
        margin-right: 1em;
        margin-left: 1em;
    }
    .estreno {
        width: 50vw;
    }
    .categoria {
        display: flex;
    }
    .boton-cat {
        padding-left: 3vw;
        padding-right: 3vw;
        border-left-width: 3vw;
        margin-left: 3vw;
    }
}
